<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>管理者 | [A2103] 電子工作入門</title>
  <link rel="stylesheet" href="/css/style_admin.css">
</head>

<body>

  <div class="wrap">
    
    <!-- ▼ ヘッダー ▼ -->
    <header>
      <div class="header_wrap">
        <div class="logo">
          <a class="logo_link" href="https://nitfc-skillcard.herokuapp.com/"><h1 class="logo_text">[A2103] 電子工作入門</h1></a>
        </div>
      </div>
    </header>

    <!-- ▼ メイン ▼ -->
    <main class="main">
      <div id="user_list" class="user_list">
        <div class="user_item"></div>
      </div>
    </main>

    <!-- ▼ 管理パネル ▼ -->
    <div class="management_panel">
      <h2 class="management_panel_title">管理パネル</h2>
      <div class="management_panel_contents">
        
        <div class="management_panel_item">
          <span class="management_panel_item_title">開始</span>
          <input type="checkbox" id="course_start" class="management_panel_input">
          <label class="management_panel_label" id="course_start_label" for="course_start"></label>
        </div>

        <div class="management_panel_item">
          <span class="management_panel_item_title">一時停止</span>
          <input type="checkbox" id="course_pause" class="management_panel_input">
          <label class="management_panel_label" id="course_pause_label" for="course_pause"></label>
        </div>

        <div class="management_panel_item">
          <span class="management_panel_item_title">問題2</span>
          <input type="checkbox" id="course_problem2" class="management_panel_input">
          <label class="management_panel_label" id="course_problem2_label" for="course_problem2"></label>
        </div>

        <div class="management_panel_item">
          <span class="management_panel_item_title">問題3</span>
          <input type="checkbox" id="course_problem3" class="management_panel_input">
          <label class="management_panel_label" id="course_problem3_label" for="course_problem3"></label>
        </div>

        <div class="management_panel_item">
          <span class="management_panel_item_title">問題4</span>
          <input type="checkbox" id="course_problem4" class="management_panel_input">
          <label class="management_panel_label" id="course_problem4_label" for="course_problem4"></label>
        </div>

        <div class="management_panel_item">
          <span class="management_panel_item_title">問題5</span>
          <input type="checkbox" id="course_problem5" class="management_panel_input">
          <label class="management_panel_label" id="course_problem5_label" for="course_problem5"></label>
        </div>

        <div class="management_panel_item">
          <span class="management_panel_item_title">問題6</span>
          <input type="checkbox" id="course_problem6" class="management_panel_input">
          <label class="management_panel_label" id="course_problem6_label" for="course_problem6"></label>
        </div>

        <div class="management_panel_item">
          <span class="management_panel_item_title">問題7</span>
          <input type="checkbox" id="course_problem7" class="management_panel_input">
          <label class="management_panel_label" id="course_problem7_label" for="course_problem7"></label>
        </div>

        <div class="management_panel_item">
          <span class="management_panel_item_title">問題8</span>
          <input type="checkbox" id="course_problem8" class="management_panel_input">
          <label class="management_panel_label" id="course_problem8_label" for="course_problem8"></label>
        </div>

        <div class="management_panel_item">
          <span class="management_panel_item_title">問題9</span>
          <input type="checkbox" id="course_problem9" class="management_panel_input">
          <label class="management_panel_label" id="course_problem9_label" for="course_problem9"></label>
        </div>

        <div class="management_panel_item">
          <span class="management_panel_item_title">問題10</span>
          <input type="checkbox" id="course_problem10" class="management_panel_input">
          <label class="management_panel_label" id="course_problem10_label" for="course_problem10"></label>
        </div>
      
      </div>
    </div>

  </div>

  <!-- ▼ js ▼ -->
  <script src="https://www.gstatic.com/firebasejs/8.6.5/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.6.5/firebase-firestore.js"></script>	
  <script src="https://www.gstatic.com/firebasejs/8.6.5/firebase-analytics.js"></script>
  <script>const firebaseData = JSON.parse(`<%- firebaseData %>`);</script>
  <script type="module" src="/js/admin.js"></script>

</body>

</html>