@charset "UTF-8";
/*------------------------------------
  Default Style
------------------------------------*/
:root {
  --background-color: rgb(233, 233, 233);
  --item-color: rgb(255, 255, 255);
  --item-hover-color: rgb(231, 241, 253);
  --item-border-radius: 10px;
  --button-color: #69a529;
  --button-hover-color: #84be46;
  --border-color: rgba(197, 197, 197, 0.5);
  --section-border-radius: 20px;
}

html {
  font-size: 62.5%;
  font-family: 'Roboto', 'Arial', sans-serif;
}
body {
  margin: 0;
  font-size: 1.6em;
}
a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
input, button {
  border: none;
  outline: 0;
}
button, label {
  cursor: pointer;
}
svg {
  width: 48px;
  height: 48px;
  vertical-align: middle;
  fill: #fff;
}
button {
  font-size: 1.6rem;
  font-weight: 700;
  padding: 3px 40px;
  border-radius: var(--item-border-radius);
  border: 1px solid var(--border-color);
  color: var(--item-color);
  background: var(--button-color);
  text-align: center;
  outline: none;
  box-sizing: border-box;
  color: #fff;
}
button:hover {
  background: var(--button-hover-color);
}

/*------------------------------------
  Main
------------------------------------*/
.main {
  width: 100vw;
  height: 100vh;
  background-image: url(../img/background.webp);
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

/* Start */
.start_wrap {
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
  background: rgba(212, 212, 212, 0.8);
  border-radius: 30px;
  position: absolute;
  z-index: 100;
}
.start_message {
  padding: 20px 100px;
  font-size: 3rem;
  font-weight: 700;
}
.start_form {
  margin: 30px;
  display: flex;
  align-items: center;
}
.number_wrap {
  margin: 0 20px;
  font-size: 3rem;
  font-weight: 700;
}
.number_input {
  width: 300px;
  padding: 5px;
  font-size: 3rem;
  font-weight: 700;
}
.start_button {
  margin: 0 20px;
  padding: 20px 50px;
  font-size: 3rem;
  font-weight: 700;
}

/* Editor */
.editor {
  width: 100vw;
  height: 100vh;
  display: none;
  grid-template-columns: 350px 1fr;
}
.editor_side_area {
  height: calc(100% - 20px);
  margin: 10px;
  border-radius: var(--item-border-radius);
  background: var(--item-color);
}
.editor_side {
  position: relative;
  background: var(--background-color);
}
.editor_main {
  background: var(--background-color);
}
.editor_main_area {
  height: calc(100% - 20px);
  margin: 10px;
  position: relative;
  border-radius: var(--item-border-radius);
  background: var(--item-color);
}
.editor_main_area_problem {
  height: 200px;
  font-size: 1.3em;
  border-radius: var(--item-border-radius) var(--item-border-radius) 0 0;
  background: var(--item-color);
  box-shadow: 0 1px 2px 0 var(--border-color);
}
.editor_main_area_problem > .problem_title {
  margin: 0;
  padding: 5px 20px;
}
.editor_main_area_problem > .problem_text {
  margin: 0;
  padding: 5px 20px;
}
.editor_main_area_answer {
  height: calc(100% - 220px);
  padding: 10px;
  border-radius: 0 0 var(--item-border-radius) var(--item-border-radius);
}
.editor_main_area_answer_contents {
  width: 900px;
  height: 750px;
  margin: 1% auto 1% auto;
  display: grid;
  grid-template-columns: repeat(6, 150px);
  grid-template-rows: repeat(5, 150px);
  border-radius: var(--item-border-radius);
  background: var(--item-color);
}
.answer_contents_grid {
  width: 150px;
  height: 150px;
  text-align: center;
  box-sizing: border-box;
  border: dashed 1px gray;
  background: var(--background-color);
  background-size: contain;
}
.button_submit {
  right: 20px;
  bottom: 20px;
  width: 150px;
  height: 80px;
  font-size: 1.5em;
  position: absolute;
}
.editor_item_list_title {
  margin: 0;
  padding: 10px;
}
.editor_item_list {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.editor_item {
  width: 150px;
  height: 150px;
  text-align: center;
  cursor: move;
  background: var(--background-color);
  background-size: contain;
  border: dashed 1px gray;
  box-sizing: border-box;
  z-index: 10000;
}

/* menu */
.menu {
  bottom: 20px;
  width: calc(100% - 40px);
  padding: 10px;
  position: absolute;
  text-align: center;
  border-radius: 0 0 var(--item-border-radius) var(--item-border-radius);
  background: var(--item-color);
}
.menu > button {
  margin: 0 3px;
}

/*------------------------------------
  Blocker
------------------------------------*/
.blocker {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100000;
}
.modal {
  width: 600px;
  height: 300px;
  padding: 30px;
  text-align: center;
  border-radius: var(--section-border-radius);
  background: var(--background-color);
  box-shadow: 0 1px 2px 0 var(--border-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100001;
}
.modal_alert {
  font-size: 2em;
  font-weight: 700;
  background: var(--modal-green);
  border-radius: var(--item-border-radius);
  transform: translate(-40%, -50%);
  position: absolute;
  top: 40%;
  left: 50%;
}
.modal_text_AC {
  color: rgb(255, 66, 66);
}
.modal_text_WA {
  color: rgb(43, 64, 251);
}
.modal_close {
  top: 10px;
  right: 10px;
  width: 30px;
  line-height: 30px;
  font-size: 3rem;
  position: absolute;
  cursor: pointer;
  color: var(--cross-mark-color);
}
.modal_button {
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
}
.modal_button > .button_next,
.modal_button > .button_replay {
  right: 20px;
  bottom: 20px;
  width: 150px;
  height: 70px;
  font-size: 1.5em;
}

/* animation */
.blocker, .modal {
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}
.blocker.is-show, .modal.is-show {  
  opacity: 1;
  visibility: visible;
}