@charset "UTF-8";
/*------------------------------------
  Default Style
------------------------------------*/
:root {
  --item-color: rgb(255, 255, 255);
  --item-border-radius: 10px;
  --button-color: #69a529;
  --button-hover-color: #84be46;
}

html {
  font-size: 62.5%;
  font-family: 'Roboto', 'Arial', sans-serif;
}
body {
  margin: 0;
  font-size: 1.6em;
}
a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
input, button {
  border: none;
  outline: 0;
}
button, label {
  cursor: pointer;
}
img {
  vertical-align: bottom;
}
svg {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  fill: #fff;
  stroke: #fff;
}
button {
  font-size: 1.6rem;
  font-weight: 700;
  padding: 8px 40px;
  border-radius: var(--item-border-radius);
  border: 1px solid var(--border-color);
  color: var(--item-color);
  background: var(--button-color);
  text-align: center;
  outline: none;
  box-sizing: border-box;
  color: #fff;
}
button:hover {
  background: var(--button-hover-color);
}

/*------------------------------------
  Main
------------------------------------*/
.user_list {
  padding: 20px;
  display: grid;
  gap: 20px;
  justify-content: center;
  grid-template-columns: repeat(5, 1fr);
  font-size: 20px;
}

.user_item {
  height: 200px;
  border-radius: 5px;
  background: rgb(209, 209, 209);
}
.user_item.is-help {
  background: rgb(240, 50, 50);
}
.user_item > p {
  margin: 5px;
}
.user_item > .user_item_img {
  width: 210px;
  height: 118.1px;
  margin: 5px auto;
  background-size: contain;
  opacity: .5;
}

/*------------------------------------
  Management Panel
------------------------------------*/
.management_panel {
  top: 0;
  left: 0;
  width: 300px;
  position: fixed;
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
}

/* Button */
.management_panel_item {
  padding: .5em 1em;
  font-size: 1.8em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.management_panel_item > .management_panel_item_title {
  margin: 0 .5em;
  line-height: 1.8em;
}
.management_panel_item > .management_panel_input {
  display: none;
}
.management_panel_item > .management_panel_label {
  width: 1.8em;
  height: 1em;
  display: block;
  position: relative;
  border-radius: 1em;
  background: #242424;
  cursor: pointer;
}
.management_panel_item > .management_panel_input:checked + .management_panel_label {
  background: #31d349;
}
.management_panel_item > .management_panel_label {
  display: inline-block;
}
.management_panel_item > .management_panel_label::before {
  top: 0.05em;
  left: 0.05em;
  width: calc(1em - 0.1em);
  height: calc(1em - 0.1em);
  position: absolute;
  content: "";
  border-radius: calc(1em - 0.1em);
  background: #fff;
  transition: 0.5s;
}
.management_panel_item > .management_panel_input:checked + .management_panel_label::before {
  left: calc(100% - 1em + 0.05em);
}
